<p>Selecione um servidor para alterar as informações do benefício.</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col" class="coluna-numeracao-documento-largura">CPF</th>
            <th scope="col" class="coluna-numeracao-documento-largura">Matrícula</th>
            <th scope="col" class="coluna-estreita-largura">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let servidor of listaServidores; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ servidor.nome }}</td>
            <td>{{ servidor.cpf | documentNumber }}</td>
            <td>{{ servidor.matricula }}</td>
            <td>
                <a
                    class="btn btn-primary"
                    [routerLink]="['/beneficio/aposentadoria/', servidor.matricula]"
                >
                    Atualizar
                </a>
            </td>
        </tr>
    </tbody>
</table>
