label {
    font-weight: bold;
    margin-top: 15px;
}
.document-tree-invisible {
    display: none;
}
.document-tree ul,
.document-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}
.acoes-documentos {
    text-align: center;
    margin: 10px;
}
th.coluna-estreita {
    &-largura {
        width: 7em;
    }
}
th.coluna-tramite-movimentacao {
    text-align: center;
}
