label {
    font-weight: bold;
    margin-top: 15px;
}
.document-tree-invisible {
    display: none;
}
.document-tree ul,
.document-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}
.titulo-documentos {
    vertical-align: middle;
    text-align: center;
}
th.coluna-estreita {
    &-largura {
        width: 7em;
    }
}
th.coluna-tramite-movimentacao {
    text-align: center;
}
div.container-documentos {
    min-height: 500px;
}
