<p>
    Abaixo é possível gerir o benefício de aposentadoria do servdor, tramitando o processo e
    fornecendo os documentos necessários.
</p>
<ngb-tabset *ngIf="servidor">
    <ngb-tab>
        <ng-template ngbTabTitle><b>Beneficiário</b></ng-template>
        <ng-template ngbTabContent>
            <form>
                <div class="form-group">
                    <label>Nome completo</label>
                    <p>{{ servidor.nome }}</p>
                </div>
                <div class="form-group">
                    <label>CPF</label>
                    <p>{{ servidor.cpf | documentNumber }}</p>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Órgão</label>
                        <p>{{ servidor.orgao }}</p>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Matrícula</label>
                        <p>{{ servidor.matricula }}</p>
                    </div>
                </div>
            </form>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Documentos">
        <ng-template ngbTabContent>
            <p>
                Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu
                stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg
                carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
                Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher
                voluptate nisi qui.
            </p>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Movimentações">
        <ng-template ngbTabContent>
            <p>
                Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh
                elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis
                lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at
                faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam
                urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu.
                Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum
                est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient
                montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in
                eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.
            </p>
        </ng-template>
    </ngb-tab>
</ngb-tabset>
